@font-face {
    font-family: "NunitoVariableFont";
    src: local("NunitoVariableFont"),
      url("./font/Nunito-VariableFont_wght.ttf") format("opentype");
    font-weight: normal;
  }

  *{
    font-family: NunitoVariableFont;
  }