.mainHeader {
    display: flex;
    justify-content: space-between;
}
.img{
    height: 70px;
}
@keyframes card-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .img {
      animation: card-spin infinite 20s linear;
    }
  }
  /* footer{
    background: url(http://localhost:5173/back.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100%;
} */