header{
  position: sticky!important;
  top: 0!important;
  height: 5rem!important;
  background-color: rgba(245, 245, 245, 0.642);
  margin: 0!important;
  padding: 0!important;
}

.mainHeader {

  
    display: flex;
    justify-content: space-between;
}
.img{
    height: 70px;
}
@keyframes card-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .img {
      animation: card-spin infinite 20s linear;
    }
  }
  /* header{
    background: url(http://localhost:5173/back.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100%;
} */